<%- include("layouts/header") %>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("layouts/sidebar") %>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include("layouts/topnav") %>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Add Category</h1>
                            </div>
                           
                                    <div class="row">

                                        <div class="col-md-12">
                                            <form action="/admin/post-category-form" method="post">
                                                <label>Enter Category Name</label>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="categoryName" id="category" placeholder="Category Name">
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>

                                            </form>
                                        </div>
                                    </div>
                        </div>
                        <!-- End Begin Page Content -->
                </div>
                <!-- End of Main Content -->

                <%- include("layouts/footer") %>