.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(2, 2, 2, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(6, 49, 33, 0.47);
    border-radius: 10px;
    height: 100px;
}