</div>
</div>

<div class="footer-bottom">
    <div class="container">
        <p>© 2021. All rights reserved. Webskitter's Final Project | Develop by <a href="/"> Abhishek Majumdar</a></p>
    </div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
<script src="/jstwo/bootstrap.js">
</script>
<!-- <script src="/js/app.js"></script> -->
<!-- //for bootstrap working -->
</body>

</html>