<%- include("partial/header.ejs") %>
    <%- include("partial/header-top.ejs") %>

        <div class="sign-up-form">
            <h3>Register Here</h3>
            <p>Write Something... Create Something... Welcome To Abhi's Blogging Arena</p>
            
              
                    
           
                    <form action="register" method="post" enctype="multipart/form-data">
                        <div class="sign-up">
                            <h5>Personal Information</h5>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4 class="a">First Name* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="text" name="firstname" placeholder="Enter First Name" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4 class="b">Last Name* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="text" name="lastname" placeholder="Enter Last Name" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4 class="b">User Name* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="text" name="userName" placeholder="Enter User Name" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4 class="b">Contact* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="text" name="contact" placeholder="Enter Phone Number" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4 class="c">Email Address* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="text" name="email" placeholder="Enter Email" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4 class="c">Profile Picture* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="file" name="image" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <h6>Login Information</h6>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4 class="d">Password* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="password" name="password" placeholder="Enter Password" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="sign-u">
                                <div class="sign-up1">
                                    <h4>Confirm Password* :</h4>
                                </div>
                                <div class="sign-up2">

                                    <input type="password" name="confirmpassword" placeholder="Enter Confirm Password" required>

                                </div>
                                <div class="clearfix"> </div>
                            </div>

                            <input type="submit" value="Submit">

                        </div>
                    </form>
        </div>
        <%- include("partial/footer.ejs") %>